html {
  font-family: "Quiksand", sans-serif;
  text-align: center;
  margin: 0%;
  /* background: url(R.jpg); */
  background-color: rgb(217, 206, 206);
  /* background: linear-gradient(100deg, rgb(255, 255, 255), rgb(241, 184, 236)); */
}
html img {
  opacity: 0.5;
}
header {
  text-align: center;
  background-color: rgb(0, 219, 223);
  margin: 0%;
  padding: 0%;
  color: white;
  padding: 1rem 1rem;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
}
h1 {
  text-shadow: 1px 1px 2px blue;
  font-family: sans-serif;
  font-weight: bold;
  font-size:xx-large;
  color: aliceblue;

}
#calc-section {
  padding-top: 0rem;
  padding-bottom: 3rem;
  text-align: center;
  margin: auto;
  width: 30%;
  display: block;
}
#calc-box {
  list-style: none;
  margin: 1rem 0;
  padding: 0rem;
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: repeat(6, 6rem);
  justify-content: center;
  gap: 0.3rem;
  background-color:rgba(248, 242, 248, 0.2) ;
  box-shadow: 2px 2px 4px rgb(111, 106, 255);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
li:nth-of-type(1){
  grid-column: 1 / 5;
}
li:nth-of-type(2){
  grid-column: 1 / 3;
}
li:nth-of-type(18){
  grid-column: 2 / 4;
}
#calc-box li {
  background-color: rgba(211, 204, 211, 0.2);
  border-radius: 0.1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  box-shadow: 1px 1px 4px black;
}
#calc-box li:hover {
  background-color: rgb(106, 138, 255);
}
#calc-box #result{
  background-color: rgba(211, 204, 211, 0.2);
  justify-content: right;
  padding: 2rem;
}
#calc-box #sign{
  background-color: rgba(186, 201, 255, 0.857);
  padding: 2rem;
  /* circle */
}
#calc-box #sign:hover{
  background-color: rgb(106, 138, 255);
  padding: 2rem;
}
#calc-box #result:hover {
  cursor: default;
  background-color: rgba(211, 204, 211, 0.2);
}